<%- include('partials/header'); -%>

<div class="row ">

  <div class="col-md-4 ">
    <h1 class="header-content">Home</h1>
  </div>

  <div class="col-md-2 offset-md-6">

    <div class="row">
      <div class="col">
        <p class="weather-cityName para-style1"> </p>
      </div>
      <div class="col">
        <img src="">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="weather-temp para-style2"></p>
      </div>
      <div class="col">
        <p class="weatherd-description"></p>
      </div>
    </div>

  </div>

  <p><%= startingContent %></p>

  <% posts.forEach((post)=>{ %>
  <%  let content = post.content.substring(0, 99) %>

  <div class="box">
    <h1> <%= post.title %></h1>
    <p> <%= content %> ... <a href="/posts/<%= post.title %>"> Read More</a> </p>
  </div>
  <% }); %>

  <script type="text/javascript">
    let weatherData;
    const weatherIcon = document.querySelector('img');
    const weatherCity = document.querySelector(".weather-cityName");
    const weatherTemp = document.querySelector(".weather-temp");
    const weatherDescription = document.querySelector(".weatherd-description");

    //Get user geo position.
    function geoPosition() {

      if (!navigator.geolocation) {
        console.log("Geolocation is not supported or turn off in your browser");
      } else {
        console.log("Successfuly retrived geolocation");
        navigator.geolocation.getCurrentPosition(success, error);
      }

      function success(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        reverseGeocoding(longitude, latitude);
      }

      function error() {
        console.log("Unable to retrieve your location: ");
      }
    }
    //Reverse user geolocation data.
    function reverseGeocoding(longitude, latitude) {
      fetch(`https://api.geoapify.com/v1/geocode/reverse?lat=${latitude}&lon=${longitude}&format=json&apiKey={}`)
        .then(res => res.json())
        .then(response => {
          weather(response.results[0].city);
        })
        .catch(console.error)
    }

    //Fetch weather data.
    function weather(city) {
      fetch(`https://api.openweathermap.org/data/2.5/weather?q=${city}&appid={}&units=metric`)
        .then(res => res.json())
        .then(data => {

          // Get the first 2 digits of a temp Number.
          const temp = data.main.temp;
          const first2Str = String(temp).slice(0, 2);
          const first2Num = Number(first2Str);

          weatherData = data;
          weatherIcon.src = "http://openweathermap.org/img/wn/" + data.weather[0].icon + ".png";
          weatherCity.textContent = data.name;
          weatherTemp.textContent = first2Num + '\u00B0';
          weatherDescription.textContent = data.weather[0].main;

        })
        .catch(console.error);
    }

    //Call function geoPosition.
    geoPosition();
  </script>

  <%- include('partials/footer'); -%>
