<%- include("partials/header"); -%>
<h1>Edit</h1>
<form class="" action="/update" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="title" value="<%= post.title%>">
    <label>Post</label>
    <textarea class="form-control" name="content" rows="5" cols="30"><%=post.content%></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="postId" value="<%=post._id%>">Save</button>
</form>
<%- include("partials/footer"); -%>
