<%- include('partials/header') %>

  <header>
    <%- include('partials/navbar') %>
  </header>

  <div class="container">
    <div class="jumbotron centered">

        <h1 class="display-3">Edit Item</h1>

        <form action="/update" method="POST" class="submitSecretForm">

          <div class="form-group">
            <input type="text" value="<%= item.website %>" class="form-control text-center" name="edit" placeholder="URL: example.com">
            <input type="text" value="<%= item.login %>" class="form-control text-center" name="edit" placeholder="Login">
            <input type="text" value="<%= item.password %>" class="form-control text-center" name="edit" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-dark" name="itemId" value="<%= item._id %>">Submit</button>

        </form>
        
    </div>
  </div>
  <%- include('partials/footer') %>