<%- include('partials/header') %>

  <header>
    <%- include('partials/navbar') %>
  </header>

  <div class="jumbotron text-center">
    <div class="container">

      <div class="secretHeader">

        <div class="secretHeaderText">
          <p>Create a new Item</p>
        </div>
        <div class="addMenu">
          <a href="/submit" class="addMenuItem" role="button">&#43</a>
        </div>

      </div>

      <hr>

      <div class="row ">

        <% items.forEach((item)=>{ %>

          <div id="keyBoard" class="col-md-3 mt-2">

            <div class="card" style="width: 15rem;">

              <img src="https://logo.clearbit.com/<%= item.website %>" id="imgLogo" class="card-img-top" alt="...">

              <div class="card-body">
                <h5 class="card-title">
                  <%= item.website %>
                </h5>
                <p class="card-text">
                  login: <%= item.login %>
                </p>
                <p class="card-text">
                  Password: <%= item.password %>
                </p>

                <form method="post">
                  <button  class="btn btn-primary" type="submit" name="itemEdit" value="<%= item._id %>" onclick="javascript: form.action='/edit'">Edit</button>
                  <button  class="btn btn-primary" type="submit" name="itemDelete" value="<%= item._id %>" onclick="javascript: form.action='/delete'">Delete</button>
                </form>

              </div>
            </div>
          </div>

          <% }) %>

      </div>


    </div>

  </div>

  </div>

  <%- include('partials/footer') %>